[Unit]
Description=Node Exporter
 
[Service]
User=root
ExecStart=/usr/local/bin/node_exporter --web.config.file="/etc/node_exporter/web-auth.yml"
 
[Install]
WantedBy=default.target